[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CompositeReliability"]
	path = CompositeReliability
	url = https://github.com/jmoonen/compositereliabilityinnesteddesigns
[submodule "compositeReliabilityInNestedDesigns"]
	path = compositeReliabilityInNestedDesigns
	url = https://github.com/jmoonen/compositereliabilityinnesteddesigns
